<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/Account.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body style="background: bisque">
    <div id="account-wrap" style="background: white; border-radius: 5px">
        @RenderBody()
    </div>
</body>
</html>

