body {
    
}

.work-row {
    height: 40px;
    cursor: pointer;
}

.work-row:nth-child(2n+1) {
    background: beige;
}

.work-row:nth-child(2n) {
    background: lightgrey;
}

.work-row:hover {
    cursor: pointer;
    background: lightblue;
}

.work-title {
    font-size: 18px;
    font-weight: bold;
}

.work-title:hover {
    color: blue;
    text-decoration: underline;
}

.menu-item {
    cursor: pointer;
    margin: 0 10px
}

.menu-item:hover {
    color: cornflowerblue;
}

.menu-item-selected {
    color: blue;
    border-bottom: 2px solid blue;
}

.selected {
    background: cornflowerblue !important;
}

.change-page-button {
    height: 20px;
    background: #d3d3ff;
    outline: none;
    text-align: center;
    padding: 0 5px;
}

.change-status-work-button {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}

.control-page-button {
    display: none;
}

#page-button-list > li {
    float: left;
    margin: 0 2px
}